---
layout: home
title: Climate, Land (Food), Energy and Water systems approach (CLEWS)
description: The Climate, Land (Food), Energy and Water systems approach (CLEWs) focuses on assessing interlinkages between resource systems in order to understand how these are related with each other, where pressure points exist, and how to minimize trade-offs while potentiating synergies.
org_count: 60
permalink: /
---

<div class="container-lg p-responsive py-4 py-lg-6 my-xl-4 text-center">
    <h1 class="alt-h1 mb-2 text-white">The Climate, Land, Energy and Water systems&nbsp;(CLEWs)</h1>
    <p class="f2-light text-white">
        <p class="text-white f-5 light">Explore CLEWs on:</p>
        {% for platform in site.data.social_media %}
        <!-- {{ platform.name }} -->
        <a href="{{ platform.url }}" class="px-2">
            <i class="{{ platform.icon }} text-white" style="font-size: 32px"></i>
        </a>
        {% endfor %}
    </p>
  </div>
</div><!-- ends .full-width that started in header.html -->

<!-- <div class="container-lg p-responsive">
  <div class="Box clearfix p-4 p-sm-5 col-md-7 mx-auto mt-6">
    <div class="float-left">
      <img class="d-block pr-4" style="width: 80px;" alt="FedRAMP Logo" src="{{"/assets/img/Fedramp-logo.svg" | relative_url}}">
    </div>
    <div class="overflow-hidden">
      <p>GitHub is now Federal Risk and Authorization Management Program (FedRAMP) authorized.
      </p>
      <a href="{{"/fedramp/" | relative_url}}">Learn More {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
    </div>
  </div>
</div> -->

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon terminal height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
        Place Holder
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon server height:28 class:"fill-blue d-inline mr-2" aria-label:server %}
        Place Holder
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon beaker height:28 class:"fill-blue d-inline mr-2" aria-label:beaker %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon tools height:28 class:"fill-blue d-inline mr-2" aria-label:tools %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon code height:28 class:"fill-blue d-inline mr-2" aria-label:code %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon lock height:28 class:"fill-blue d-inline mr-2" aria-label:lock %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon globe height:28 class:"fill-blue d-inline mr-2" aria-label:globe %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon checklist height:28 class:"fill-blue d-inline mr-2" aria-label:checklist %}
        PLACEHOLDER
      </h2>
      <p class="text-gray">PLACEHOLDER</p>
    </div>
  </div>

  <p class="text-center">
    <a href="/about" class="btn btn-outline">Learn more about CLEWs;</a>
  </p>
</section>


<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 ">

    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">Title</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">The Climate, Land, Energy and Water systems (CLEWs) framework represents an integrated approach to resource management that recognises the interconnected nature of land use, climate change, and energy choices. Gaining prominence since the early 2010s, CLEWs offers a holistic method for analysing complex resource interactions, particularly in the context of Sustainable Development Goals. International organizations like UNDESA and IAEA are promoting CLEWs through capacity building in the global south, and the framework is increasingly being incorporated into higher education curricula. While CLEWs can be applied using various modelling tools such as OSeMOSYS and LEAP, challenges remain in tool accessibility and building technical capacity, with both becoming key areas of development in recent years.</a> and Jupyter Notebooks.</p>

    <div class="my-4 my-lg-6 clearfix gutter-spacious">
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Pic 1</h3>
        <p><a href="https://github.com/showcases/government" target="_blank">
          <img src="assets/img/open-source.png" class="img-border" alt="Picture 1"/></a>
        </p>
        <small>Example usage/news pic</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Pic 2</h3>
        <p><a href="https://github.com/showcases/open-data" target="_blank">
          <img src="assets/img/open-data.png" class="img-border" alt="Picture 2"/></a>
        </p>
        <small>Example usage/news pic</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Pic 3</h3>
        <p><a href="https://github.com/showcases/policies" target="_blank">
          <img src="assets/img/open-gov.png" class="img-border" alt="Project Open Data"/></a>
        </p>
        <small></small>
      </div>
    </div>

    <p class="text-center">
      <a href="https://github.com/showcases/policies" class="btn btn-outline">See more showcases &rarr;</a>
    </p>

  </div>
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Get Involved</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Join the CLEWS community</a>.</p>
  </div>
  <div style="overflow: hidden;">
    {% assign count = 0 %}
    {% for group in site.data.governments %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <!-- <div class="featured-orgs text-center p-2 m-2">
      {% for org in site.featured_orgs %}
      <a href="https://github.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
      {% endfor %}
    </div> -->
    <div class="featured-orgs text-center p-2 m-2">
        {% for org in site.data.orgs %}
          <a href="{% if org.type == 'github' %}https://github.com/{{ org.github }}{% else %}#{% endif %}" 
             class="animate-in">
            {% if org.type == 'github' %}
              {% avatar user=org.github size=80 %}
            {% else %}
              <img src="{{ org.logo }}" width="auto" max-width = "200" height="60" margin = "10" alt="{{ org.display_name }}">
            {% endif %}
          </a>
        {% endfor %}
    </div>
  </div>
</section>

<section id="get-started" class="mini-section mt-6">
  <div class="container-lg p-responsive">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">Get started today</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto"> <a href="mailto:">Contact us</a> to learn more about CLEWS</p>

    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Sign up for an account</h3>
        <p class="text-gray"><a href="https://github.com/signup/free" target="_blank">Sign up</a> for an individual GitHub account for free.</p>
        <p class="text-gray">If you have a personal GitHub account, simply <a href="https://government-community.githubapp.com/government">add and confirm</a> your government email.</p>
      </div>
      <!-- <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Create an organization</h3>
        <p class="text-gray">An organization is your official presence on GitHub. <a href="https://github.com/organizations/new">Create a free organization</a> after you log in. Open source projects stay free.</p>
        <p class="text-gray">Prefer to host your own GitHub instance? <a href="mailto:government@github.com">Contact us</a> or <a href="https://enterprise.github.com">request a free trial</a> to get started.
      </div> -->
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <!-- <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Join the Peer Group</h3>
        <p class="text-gray">Join the <a href="https://government-community.githubapp.com/government">semi-private group</a> of government employees using GitHub to share best practices for software collaboration.</p>
        <p class="text-gray">You will have access once the government email associated with your account is verified.
      </div> -->
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Learn More</h3>
        <p class="text-gray">Browse training resources at <a href="CLEWS_LINK">Somewhere</a>.</p>
        <p class="text-gray">Contact <a href="mailto:bitliuzx@gmail.com">Someone</a> to bring CLEWS training to your team.</p>
      </div>
    </div>
  </div>
</section>


<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      {% octicon person height:42 class:"d-block mx-auto mb-4 text-center fill-gray" aria-label:person %}
    </span>
    <h3 class="alt-h2 mb-4">Talk to a human</h3>
    <p>Email <a href="mailto:">xxx@xxx.com</a> to talk to CLEWS team.</p>
    <p><a href="">Post a question</a> in the community to get feedback.</p>
  </div>
</section>
